In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('americanmotors_2024-03-05.csv')
df.head()

                                                 URL                VIN
0  https://americamotors.com/jeep/cherokee/1C4PJM...  1C4PJMCB9GW186953
1  https://americamotors.com/toyota/corolla/5YFBU...  5YFBU4EE9BP001827
2  https://americamotors.com/nissan/frontier/1N6E...  1N6ED1EJ3NN629700
3  https://americamotors.com/jeep/compass/3C4NJCA...  3C4NJCAB1JT468392
4  https://americamotors.com/lexus/es/58ADZ1B16MU...  58ADZ1B16MU088266

In [5]:
df['VIN'].duplicated().sum()

3473

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20440 entries, 0 to 20439
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   URL     20440 non-null  object
 1   VIN     20440 non-null  object
dtypes: object(2)
memory usage: 319.5+ KB